/*Publicidad1*/

.publicidad1{
	background-color:  #eeeeee;
}
.foto_baner{
	padding-left: 100px;
}

/*Iconos redes sociales*/

.fa-facebook{
	color: #141471;
	padding-right: 15px;
}

.fa-twitter{
	color: #62DDD0;
	padding-right: 15px;
}

.fa-google{
	color: #C41313;
	padding-right: 15px;
}

.fa-envelope{
	color: #F6AD11;
	padding-right: 15px;
}

.fa-rss{
	color: #F10D22;
}

.iconos{
	display: inline-block;
	position: absolute;
	margin-top: 15px;
	margin-left: 20px;
}
@media ( max-width: 768px) {
	.iconos{
		width: 150px;
	}
}

.boletin{
	width: 163px;
	display: inline-block;
}

.form-control{
	margin: 5px;
	background-color: #E0DEDE;
	width: 90% !important;
	height: 24px; /*Tam*/
}

/*Suscribete*/

.suscribete{
	background-color:  #eeeeee;
}
.menu_1 nav {
	margin:5px;
	padding-left: 50px;
}
.menu_1 nav ul li {
	list-style: none;
	display: flex;
	float: left;
	margin-top: 20px;
	margin: 10px;
}
.menu_1 ul li a {
	text-decoration: none;
	color: #666666;
	font-size: 10px;
}
.btn{
	margin-top: 15px; /*Tam*/
}

.form-group{
	margin-top: 10px; /*Tam*/
	padding-right: 80px;
}

.domingo{
	border:1px solid #D5D4D4;
	border-bottom: 2px solid #7C0202;
	margin-left: 200px;
}
.boton2{
	margin-top: -20px;
	margin-left: 100px;
}
.domingo2{
	border:1px solid #D5D4D4;
	background-image: url(../image/img_editorial_text.jpg);
	background-repeat: no-repeat;	
	background-size: contain;
	height: 60px;
	margin-left: 20px;

}
.texto_blanco{
	position: relative;
	left: 30px;
	background-color: #fff;
	border-radius: 50px;
	height: 40px;
	padding: 5px;
	line-height: 10px;
	margin-top: 3px;
}
.autor{
	position: relative;
	left: 210px;
	top:-60px;
}
/*header*/

.header{
	padding: 50px;
	margin-left: 35px;
}

.rojo{
	background-color: #C50000 ;
	padding: 5px;
	margin-left: 100px;
	margin-right: 60px;
	border-radius: 3px;
}
.rojo a{
	color: white;
	font-size: 12px;
	margin:5px;
	font-weight: bold;
	margin-left: 2px;
}
.tema{
	color: white;
	background-color: black;
	border-radius: 3px;
	margin-right: 10px;
	padding:12px;
}
/*Seccion temas del dia*/

.gris {
	margin-left:9%;
	margin-top:1%;
	margin-bottom:1%;
	padding: 1%;
	background-color:  #eeeeee;
}
.gris a{
	color: #666666;
	font-size: 10px;
	margin:0.5%;
	margin-left: 2px;
}

/* footer*/
.pie_pagina{
	background-color: #eeeeee;
	padding-left: 30px;
	padding-top: 40px;
}
.logo{
	margin-left: 70px;
}
.direccion{
	margin-left: 70px;
	margin-top: 20px;
}
.enlaces ul li{
	margin: 0 auto;
	list-style: none;
}
.enlaces ul li a{
	color: #666666;
}
.enlaces ul li a:hover{
	background-color:#c0c0c0 ;
}
.col_1{
	margin-left: 100px;
}
.pie_final{
	padding: 20px;
}

.politico{
	background-image: url(../image/img_grid_principal.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 500px;
}
.politico2{
	background-image: url(../image/img_grid_secundario.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 240px;
	margin-left: 10px;
	margin-bottom: 20px;
}
.shadow	{
	background-color: rgba(0,0,0, 0.3);
	height: 110px;
	width: 480px;
	margin-top: 390px;
	color: #fff;
}
.parrafo{
	margin-top: -20px;
}
.shadow-segundario{
	background-color: rgba(0,0,0, 0.3);
	height:90px;
	width: 428px;
	margin-top: 150px;
	margin-left:-10px;
	color: #fff;
}
.parrafo{
	margin-top: -10px;
>>>>>>> d9ef6e68091cabf14345f7d0d24bf68778287f96
}
